*~
*.coq.bak
src/*~
src/*.cmi
src/*.ml.d
src/*.mli.d
src/*.mlpack.d
src/*.cmo
src/*.cmx
src/*.cmxs
src/*.o
src/*.ml4.d
src/*.cmi
theories/.AST.aux
theories/AST.glob
theories/AST.v.d
theories/AST.vo
Makefile.coq
